.login-area {
    background: #FFFFFF;
    box-shadow: 0px 4px 30px 1px rgba(96, 96, 96, 0.1);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding:30px;
    margin: 50px;
}
.login-area form input{
    width: 400px;
    height: 60px;
    background: #FAFAFA;
    border: none;
    padding-left: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}
.button-login{
    width: 400px;
    height: 60px;
    background: #C6A349;
    border: none;
    color: white;
    border-radius: 10px;
}
.button-google{
    width: 400px;
    height: 60px;
    background: #e6e6e6;
    border: none;
    color: black;
    border-radius: 10px;
}