.add-information {
    background: #FFFFFF;
    box-shadow: 0px 4px 30px 1px rgba(96, 96, 96, 0.1);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px;
    margin: 50px;
}

.add-information form {
    display: flex;
    flex-direction: column;
}
.add-information h3 {
    font-size: 24px;
    margin-bottom: 30px;
}

.add-information form input, textarea{
    width: 300px;
    height: 50px;
    background: #FAFAFA;
    border: none;
    padding-left: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}
.add-information form textarea{
    width: 300px;
    height: 50px;
}

.add-information button {
    width: 300px;
    height: 50px;
    background: #C6A349;
    border: none;
    color: white;
    border-radius: 10px;
}

.details{
    padding-right: 30px;
    margin-bottom: 70px;
}
.details h3{
    margin-bottom: 20px;
}
.details img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 20px;
}