.destinations{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
}
.destinations img {
    width: 100%;
}

.destinations-area{
    margin-top: 50px;
    margin-bottom: 50px;
}
.destinations-area h2{
    margin-bottom: 50px;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    .destinations {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
    }
}

@media only screen and (min-width: 600px) {
    .destinations {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 30px;
    }
}

@media only screen and (min-width: 768px) {
    .destinations {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 30px;
    }
}
@media only screen and (min-width: 992px) {
    .destinations {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 30px;
    }
}